@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  color: white;
  letter-spacing: 0.15rem;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 1.05rem;
  text-shadow: 1px 0px grey;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background: grey; /* 스크롤바의 색상 */

  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

#background {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-height: 100%;
  background-attachment: fixed;
  background-image: url("./image/backgroundImage3.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/********/
/* 메인 */
/********/
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scroll {
  opacity: 0;
}

.show {
  opacity: 1;
  animation: show 1s ease 1 normal;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate(0, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/***************/
/* 프로필 영역 */
#profile_area {
  width: 65%;
  height: 100%;
  /* border: 10px double white; */
  margin: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* 사진 영역 */
#selfie_area h1 {
  text-align: center;
  font-size: 2.5rem;
}

#selfie_area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
}

/* 얼굴 */
.img_container {
  border: 5px double white;
  width: 11em;
  height: 11rem;
  border-radius: 100%;
  margin: 0;
  box-shadow: 0px 0px 10px 5px;

  overflow: hidden;
}

.img_container img {
  margin-top: 5px;
  width: 11rem;
  height: 10.5rem;
}

.img_container img:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.7s;
}

/* 바로가기 이미지 */
.go_img {
  width: 30%;
  padding-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.go_img a > img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100px;
  border: 21x solid black;
}

.go_img a > img:hover {
  transform: scale(1.2, 1.2);

  transition: transform 0.3s;
}

/* 자기소개 */
#introduce {
  width: 60%;
  margin: 30px;
}

#introduce h1 {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

/* 기본정보 및 스택 영역 */
#intro_area {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 100%;
  padding: 20px;
}

/* 기본정보 */
.infoShow_area {
  width: 40%;
  margin: 20px 0;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

.infoShow_area h1 {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

/*****************/
/* 프로젝트 영역 */
#project_area {
  width: 52%;
  height: 1000px;
  /* border: 10px double white; */
  margin: 20px;
}

#project_area h1 {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

/* 각 아이템 공통 */
.project_items {
  margin: 50px 10px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.project_explain {
  width: 60%;
}

.project_explain a {
  text-decoration: none;
  font-weight: bold;
  color: #91bbf5;
}

.project_explain img {
  border-radius: 5px;
  margin-right: 2px;
}

.project_picture {
  width: 40%;
}

.project_picture img {
  width: 330px;
  margin-top: 60px;

  border-radius: 10px;
  /* box-shadow: 0px 0px 10px 5px; */
  box-shadow: 7px 7px 10px grey;
}

.project_stack {
  margin: 20px 0;
}

.project_items h3 {
  width: 80%;
  border-bottom: 2px dashed white;
  padding-bottom: 20px;
}

/***************/
/* footer 영역 */
/***************/
#footer {
  margin: auto;
  border-top: solid 1px grey;
  width: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.author {
  margin: 20px 0 10px 0;
}

.copyright {
  margin: 20px 0 10px 0;
}

@media (min-width: 320px) and (max-width: 1024px) {
  #profile_area {
    width: 80%;
    height: 100%;
    /* border: 10px double white; */
    margin: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .go_img {
    width: 25%;
    padding-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #introduce {
    width: 75.5%;
    margin: 30px;
  }

  #intro_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    padding: 20px;
  }

  .infoShow_area {
    width: 80%;
    margin: 20px 0;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
  }

  .infoShow_area h1 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
  }

  #project_area {
    width: 60.5%;
    height: 100%;
    /* border: 10px double white; */
    margin: 20px;
  }

  .project_items {
    margin: 50px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .project_explain {
    width: 100%;
  }

  .project_picture {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .project_picture img {
    width: 330px;
    margin-top: 60px;

    border-radius: 10px;
    /* box-shadow: 0px 0px 10px 5px; */
    box-shadow: 7px 7px 10px grey;
  }
}
